@define-color border-color #202020;
@define-color active-color #005c99;

* {
	background-image: none;
	box-shadow: none;
	font-family: "Inter Regular";
	font-size: 20px;
	/* transition: none; */
}

window {
	background-color: alpha(black, 0.25);
}

button {
  border-radius: 0;
  border-color: transparent;
  color: #bfbfbf;
	background-color: #0d0d0d;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
	padding: 2px;
	border: 1px solid @border-color;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
}

button:focus, button:active {
	outline-style: none;
	background-color: @active-color;
}

#lock {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/lock.png"));
		padding: 3px;
}

#logout {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/logout.png"));
		padding: 3px;
}

#suspend {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/suspend.png"));
		padding: 3px;
}

#hibernate {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/hibernate.png"));
		padding: 3px;
}

#shutdown {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/shutdown.png"));
		padding: 3px;
}

#reboot {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/reboot.png"));
		padding: 3px;
}
