@define-color border-color #262626;
@define-color active-color #005c99;

* {
	background-image: none;
	box-shadow: none;
	font-family: "Inter Regular";
	font-size: 18px;
	transition: none;
}

window {
	background-color: alpha(black, 0.25);
}

button {
    border-radius: 0;
    border-color: transparent;
    color: #bfbfbf;
	background-color: #1a1a1a;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
	border: 1px solid @border-color;
}

button:focus, button:active {
	outline-style: none;
	background-color: @active-color;
}

#lock {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/lock.png"));
}
/* #lock:focus, #lock:active {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/lock1.png"));
    color: @active-color;
} */

#logout {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/logout.png"));
}
/* #logout:focus, #logout:active {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/logout1.png"));
    color: @active-color;
} */

#suspend {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/suspend.png"));
}
/* #suspend:focus, #suspend:active {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/suspend1.png"));
    color: @active-color;
} */

#hibernate {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/hibernate.png"));
}
/* #hibernate:focus, #hibernate:active {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/hibernate1.png"));
    color: @active-color;
} */

#shutdown {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/shutdown.png"));
}
/* #shutdown:focus, #shutdown:active {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/shutdown1.png"));
    color: @active-color;
} */

#reboot {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/reboot.png"));
}
/* #reboot:focus, #reboot:active {
    background-image: image(url("/home/cocotreb/.config/wlogout/icons/reboot1.png"));
    color: @active-color;
} */
