@define-color font-color #e6e6e6;
@define-color black #0d0d0d;
@define-color grey #242424;
@define-color light-grey #404040;
@define-color red #ff0000;

* {
  font-family: "Inter Regular";
  font-size: 16px;
}


window#waybar { 
  background-color: @black; 
  color: @font-color;
}

tooltip {
	border-radius: 0px;
	border: none;
}

#custom-spacer{
	font-family: "JetBrainsMonoNerdFont";
	color: @light-grey;
	font-size: 15px;
}

#workspaces {
	margin: 0px 3px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#workspaces button {
	transition: none;
	background: transparent;
	border: none;
	padding: 0px 8px 0px 8px;
 	min-width: 1px;
	color: @font-color;
	border-radius: 0px;
}

#workspaces button.focused { 
	background-color: @grey;
	color: @font-color;
	border-radius: 0px;
}
#workspaces button.urgent{
	color: @red;
}

/*kys default hover effects*/
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	transition: none;
	border-radius: 0px;
}

#mode {
	color: @red;
	padding: 0px 5px 0px 5px;
	margin: 0px 5px 0px 5px;
}

#power-profiles-daemon, #network, #backlight, #pulseaudio, #battery {
	margin: 0px 12px 0px 12px;
}

#tray {
	margin: 0px 6px 0px 6px;
}

#clock {
	margin: 0px 100px 0px 100px;
}

#idle_inhibitor {
	min-width:22px;
	padding: 0px 7px 0px 7px;
}

#scratchpad {
  padding: 0px 4px 0px 4px;
  /* font-size: 16; */
  /* font-family: "JetBrainsMonoNerdFont"; */
}

#window {
  padding: 0px 4px 0px 4px;
}

#battery.critical:not(.charging) {
  color: @red;
}

#network.disconnected {
  color: @red;
}

#pulseaudio.muted{
  color: @red;
}

#custom-cava {
	color: @font-color;
	margin: 0px 8px 0px 8px;
}
