@define-color font-color #e6e6e6;
@define-color black #0d0d0d;
@define-color grey #242424;
@define-color light-grey #404040;
@define-color red #ff0000;

* {
  font-family: "Inter Regular";
  font-size: 18px;
}


window#waybar { 
  background-color: @black; 
  color: @font-color;
}

tooltip {
	border-radius: 0px;
	border: none;
}

#workspaces {
	margin: 0px 3px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#workspaces button {
	transition: none;
	background: transparent;
	border: none;
	padding: 0px 8px 0px 8px;
 	min-width: 1px;
	color: @font-color;
	border-radius: 0px;
}

#workspaces button.focused { 
	background-color: @grey;
	color: @font-color;
	border-radius: 0px;
}
#workspaces button.urgent{
	color: @red;
}

/*kys default hover effects*/
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	transition: none;
	border-radius: 0px;
}

#mode {
	color: @red;
	padding: 0px 5px 0px 5px;
	margin: 0px 5px 0px 5px;
}

#power-profiles-daemon, #network, #backlight,
#pulseaudio, #battery, #cpu, #memory, #temperature {
	margin: 0px 12px 0px 12px;
}

#tray {
	margin: 0px 6px 0px 6px;
}

#clock {
	margin: 0px 150px 0px 150px;
}

#idle_inhibitor {
	min-width:22px;
	padding: 0px 7px 0px 7px;
}

#scratchpad {
  padding: 0px 3px 0px 3px;
  /* font-size: 16; */
  /* font-family: "JetBrainsMonoNerdFont"; */
}

#window {
  padding: 0px 4px 0px 4px;
}

#power-profiles-daemon.performance {
	color: #ff8c1a;
}
#power-profiles-daemon.power-saver {
	color: #00ff00;
}

#battery.critical:not(.charging), #network.disconnected, #pulseaudio.muted, #temperature.critical {
  color: @red;
}

#custom-cava {
	color: @font-color;
	margin: 0px 8px 0px 8px;
}
